<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join subscription page</title>

/* Styling for the subscription form */

    <link rel="stylesheet" type="text/css" href="join.css">
    
</head>
<body>
    <div class="container">
        <h2>If you'd like to join us on the beach, <br>subscribe to our mailing list below!</h2>
        <form id="subscriptionForm">
            <input type="email" id="email" placeholder="Enter your email" required>
            <button type="submit">Subscribe</button>
        </form>
        <p id="message" class="message"></p>
    </div>

    <script src="index.js"></script>
</body>
</html>