/* Main banner image, navigation and search bar */

body {
  margin: 0;
  font-family: Cursive;
}

/* URL to hero image in header file */

.hero-section {
  background-image: url('hero-image.jpg') ; 
  background-color: white;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

  /* Navbar links across the top of the picture */

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 25px;
  z-index: 2; /* puts navigation bar above hero image */;
}

.topnav a:hover {
  color: black;
}


/* Search Function */

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 5px; /* rounded corners to fit theme */
  font-size: 25px;  
  transition: border 0.3s;
}

.search-input:focus {
  border-color: lightgray;
  outline: none;
}

